html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	background: pink;
	overflow: hidden;
}
.debug {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	font-size: 14px;
	font-family: monospace;
	white-space: pre;
}
.json-key { color: brown; }
.json-value { color: navy; }
.json-string {color: olive; }
